.googleSignInButtonClass {
	background-image: url(../img/btn_google.png);
	background-size: contain; 
    background-repeat: no-repeat;
    height: 46px;
	width: 109px;
}

.googleSignInButtonClass:hover {
	-webkit-box-shadow: inset 0px 0px 3px 2px rgba(66,132,242,0.42);
	-moz-box-shadow: inset 0px 0px 3px 2px rgba(66,132,242,0.42);
	box-shadow: inset 0px 0px 3px 2px rgba(66,132,242,0.42);
}

